@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Bold.woff') format('woff');
  font-weight: bold;
}